.metadata/
RemoteSystemsTempFiles/
target
*Debug.win32
*.sdf
*.opensdf
*.suo
*.ipch
*.userprefs
*.pidb
*.cachefile
*.swp
*.user
.DS_Store

.idea/
build/
cmake-build-debug/

spine-as3/spine-as3/.settings/com.powerflasher.fdt.core.metaDataTags.prefs

spine-c/Debug/*

spine-cpp/Debug/*

spine-sfml/Debug/*
spine-sfml/SFML
spine-sfml/dependencies
spine-sfml/c/dependencies
spine-sfml/cpp/dependencies
spine-sfml/cmake-build

spine-libgdx/spine-libgdx/bin
spine-libgdx/spine-libgdx-tests/bin
spine-libgdx/spine-skeletonviewer/bin

spine-cocos2dx/dependencies
spine-cocos2dx/example/cocos2dx.zip
spine-cocos2dx/example/__MACOSX
spine-cocos2dx/example/cocos2d
spine-cocos2dx/example/proj.win32/spine-cocos2d-x.VC.opendb
spine-cocos2dx/example/proj.win32/spine-cocos2d-x.VC.db
xcuserdata/
xcshareddata/

spine-cocos2d-objc/cocos2d/*
spine-cocos2d-objc/spine-cocos2d-iphone-objc.xcodeproj/project.xcworkspace/xcshareddata/

spine-csharp/bin
spine-csharp/obj
spine-csharp/src/*.meta
spine-csharp/src/*.cs.meta
spine-csharp/src/Attachments/*.cs.meta

spine-monogame/.vs/
spine-monogame/example/bin
spine-monogame/example/obj
spine-monogame/example/Content/bin/
spine-monogame/example/Content/obj/

spine-xna/bin
spine-xna/obj
spine-xna/example/bin
spine-xna/example/obj
spine-xna/example-content/obj/
spine-xna/.vs/

spine-unity/Assets/spine-csharp*
!spine-unity/Assets/spine-csharp/Place spine-csharp src here.*
spine-unity/spine-unity.CSharp.csproj
spine-unity/spine-unity.CSharp.Editor.csproj
spine-unity/ProjectSettings
spine-unity/Temp
spine-unity/Library
spine-unity/*.sln
spine-unity/obj
Assembly-*.csproj
Assembly-*.pidb
AssetStoreTools*

spine-tk2d/Assets/spine-csharp*
!spine-tk2d/Assets/spine-csharp/Place spine-csharp src here.*
spine-tk2d/ProjectSettings
spine-tk2d/Temp
spine-tk2d/Library
spine-tk2d/*.sln
spine-tk2d/Assets/TK2DROOT*
spine-tk2d/Assets/-tk2d*

spine-corona/spine-lua/
!spine-corona/spine-lua/Place spine-lua here.txt

spine-love/spine-lua/
spine-love/love/
!spine-love/spine-lua/Place spine-lua here.txt

spine-as3/spine-as3-example/bin
spine-as3/spine-as3-example/lib/.spine-as3.swc.stamp

spine-starling/spine-starling-example/bin
spine-starling/spine-starling-example/lib/.spine-starling.swc.stamp

spine-turbulenz/spine-js/spine.js

spine-threejs/spine-js/spine.js

spine-ts/.vscode/*

spine-ue4/Binaries
spine-ue4/Intermediate
spine-ue4/Saved
spine-ue4/SpineUE4.xcworkspace
spine-ue4/Plugins/SpinePlugin/Source/SpinePlugin/Public/spine-c
spine-ue4/Plugins/SpinePlugin/Source/SpinePlugin/Public/spine-cpp
spine-ue4/Plugins/SpinePlugin/Binaries
spine-ue4/SpineUE4.VC.opendb
spine-ue4/SpineUE4.VC.db
spine-ue4/SpineUE4.sln
spine-ue4/SpineUE4.VC.db
spine-ue4/.vs/
spine-ue4/SpineUE4.VC.VC.opendb
spine-windows-forms/.vs/spine-windows-forms/v15/Server/sqlite3/db.lock
spine-windows-forms/.vs/spine-windows-forms/v15/Server/sqlite3/storage.ide
spine-windows-forms/.vs/spine-windows-forms/v15/Server/sqlite3/storage.ide-shm
spine-windows-forms/.vs/spine-windows-forms/v15/Server/sqlite3/storage.ide-wal
spine-windows-forms/bin/Debug/spine-windows-forms.exe
spine-windows-forms/bin/Debug/spine-windows-forms.exe.config
spine-windows-forms/bin/Debug/spine-windows-forms.pdb
*.cache
*.CopyComplete
*.exe
*.pdb
*.resources
spine-wpf/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
spine-wpf/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
spine-wpf/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
spine-windows-forms/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
spine-windows-forms/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
spine-windows-forms/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
spine-wpf/obj/Debug/App.g.cs
spine-wpf/obj/Debug/App.g.i.cs
spine-wpf/obj/Debug/FlickerFreePanel.baml
spine-wpf/obj/Debug/FlickerFreePanel.g.cs
spine-wpf/obj/Debug/FlickerFreePanel.g.i.cs
spine-wpf/obj/Debug/GeneratedInternalTypeHelper.g.cs
spine-wpf/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
spine-wpf/obj/Debug/MainWindow.baml
spine-wpf/obj/Debug/MainWindow.g.cs
spine-wpf/obj/Debug/MainWindow.g.i.cs
spine-wpf/obj/Debug/spine-wpf.csproj.FileListAbsolute.txt
spine-wpf/obj/Debug/spine-wpf_MarkupCompile.lref
spine-windows-forms/obj/Debug/spine-windows-forms.csproj.FileListAbsolute.txt
spine-windows-forms/bin/Debug/spine-csharp.dll
spine-wpf/bin/Debug/spine-csharp.dll
spine-wpf/bin/Debug/spine-wpf.exe.config
